In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [2]:
df_TFD = pd.read_csv('../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
df_TFD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### x = 연속형, y = 연속형

#### 선정 변수 : Survived, Age
- 분석 내용 : 나이에 따라 생존률에 차이가 있는가 ?
    - 귀무 가설 : 나이에 따라 생존률에 차이가 없다.
    - 대립 가설 : 나이에 따라 생존률에 차이가 있다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 대립가설 참. (statistic=-0.07722109457217766, pvalue=0.03912465401348229)
    - 사실 결론 : 나이에 따라 생존률에 차이가 없다.

In [5]:
df_TFD[['Survived', 'Age']].describe()

         Survived         Age
count  891.000000  714.000000
mean     0.383838   29.699118
std      0.486592   14.526497
min      0.000000    0.420000
25%      0.000000   20.125000
50%      0.000000   28.000000
75%      1.000000   38.000000
max      1.000000   80.000000

In [6]:
df_survived_age = df_TFD[['Survived', 'Age']]
df_survived_age[:4]

   Survived   Age
0         0  22.0
1         1  38.0
2         1  26.0
3         1  35.0

In [7]:
df_survived_age.isnull().sum()

Survived      0
Age         177
dtype: int64

In [8]:
df_survived_age = df_survived_age.dropna().copy()

In [9]:
df_survived_age.corr()

          Survived       Age
Survived  1.000000 -0.077221
Age      -0.077221  1.000000

In [10]:
stats.pearsonr(df_survived_age['Survived'],df_survived_age['Age'])

PearsonRResult(statistic=-0.07722109457217766, pvalue=0.03912465401348229)

### x : 범주형 , y : 범주형

#### 선정 변수 : Survived, Age
- 분석 내용 : 나이에 따라 생존률에 차이가 있는가 ?
    - 귀무 가설 : 나이에 따라 생존률에 차이가 없다.
    - 대립 가설 : 나이에 따라 생존률에 차이가 있다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 대립가설 참. (statistic=-0.07722109457217766, pvalue=0.03912465401348229)
    - 사실 결론 : 나이에 따라 생존률에 차이가 없다.