In [3]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [4]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x = 연속형, y = 연속형 : 주로 상관관계 확인
- correlation coefficient(상관계수) : -1 ~ 1 (0에 가까우면 관계없음, -1로 가까울수록 반비례, 1에 가까울수록 정비례)

### 선정 변수 : amount, Mileage
- 분석 내용 : 구매한 금액에 따라서 마일리지 변화가 있는가 ?
    - 귀무 가설 : 구매한 금액에 따라 마일리지 변화가 없다.
    - 대립 가설 : 구매한 금액에 따라 마일리지 변화가 있다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 귀무가설 참.
    - 사실 결론 : 구매한 금액에 따라 마일리지 변화가 없다.(statistic=-0.004146217018612766, pvalue=0.404010202657426)

In [5]:
df_TOCC[['amount', 'Mileage']].describe()

              amount       Mileage
count   51304.000000  40509.000000
mean    93994.980021   1967.922412
std     15305.147334    436.707329
min     54603.000000    872.000000
25%     81900.000000   1646.000000
50%     96900.000000   1946.000000
75%     98400.000000   2263.000000
max    215700.000000   3803.000000

In [6]:
df_amount_Mileage = df_TOCC[['amount', 'Mileage']]
df_amount_Mileage[:2]

   amount  Mileage
0   96900   1862.0
1  102900   2532.0

In [9]:
df_amount_Mileage.isnull().sum()

amount     0
Mileage    0
dtype: int64

In [8]:
df_amount_Mileage = df_amount_Mileage.dropna().copy()

In [10]:
df_amount_Mileage.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [11]:
stats.pearsonr(df_amount_Mileage['amount'],df_amount_Mileage['Mileage'])

PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)