In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

### DataFrame 구조
- index(row) - column(column) -data(data)

In [19]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data = num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [20]:
double_list = [
            [1000, '과자','2019-12-31','반품'],
            [2000, '음료', '2020-03-02', '정상'],
            [3000, '아이스크림', '2020-02-03','정상'],
            [1000,'과자','2019-12-31','반품']]
df_saledays = pd.DataFrame(data = double_list)
df_saledays

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [21]:
double_columns = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data = double_list, columns =double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [22]:
type(df_saledays)

pandas.core.frame.DataFrame

In [23]:
df_saledays.columns, type(df_saledays.columns), list(df_saledays.columns)

(Index(['가격', '종류', '판매일자', '반품여부'], dtype='object'),
 pandas.core.indexes.base.Index,
 ['가격', '종류', '판매일자', '반품여부'])

In [24]:
df_saledays.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
df_saledays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [26]:
df_saledays_dropcol = df_saledays.drop(columns=['종류', '판매일자'])
#df_saledays.drop(columns=['종류', '판매일자'], inplace=True)

In [27]:
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

### Series
* index -data

In [8]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_floats = pd.Series(data = single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [9]:
type(series_floats)

pandas.core.series.Series